<tr>
    <td scope="row">{{employee.UniqueID}}</td>
    <td>{{first}}</td>
    <td>{{last}}</td>
    <td>
        <div *ngIf="!editMode">
            {{employee.HoursWorked}}
        </div>
        <div *ngIf="editMode">
            <input type="text" class="form-control" [value]="employee.HoursWorked" (input)="newHours=$event.target.value" placeholder="{{employee.HoursWorked}}" />
        </div>
    </td>
    <td>
        <button class="btn btn-outline-primary" 
        (click)="editHours()"
        >
        {{editMsg}}
        </button>
    </td>
</tr>