<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" *ngIf="showAddCard">
                <div class="card-header">
                    Add Class Information Below
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name: </span>
                        <input type="text" class="form-control" placeholder="Class Name" aria-label="ClassNameAdd"
                            aria-describedby="basic-addon1" #classToAdd_Name>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <textarea class="form-control" aria-label="With textarea" #classToAdd_Description></textarea>
                    </div>
                    <a class="btn btn-primary" type="submit"
                        (click)="addClass(classToAdd_Name.value, classToAdd_Description.value)">
                        Add Class to System</a>
                </div>
            </div>
            <div class="card" *ngIf="showRemoveCard">
                <div class="card-header">
                    Enter Class to Remove
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name: </span>
                        <input type="text" class="form-control" placeholder="Class Name" aria-label="ClassNameRem"
                            aria-describedby="basic-addon1" #classToRemove>
                    </div>
                    <a class="btn btn-danger" type="submit" (click)="removeClass(classToRemove.value)">Remove Class</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Search for a class
                </div>
                <div class="card-body">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            #searchVal>
                        <button class="btn btn-outline-primary" type="submit"
                            (click)="searchClass(searchVal.value)">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Choose an action
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" (click)="addButtonClick()">Add a Class</a>
                    <p></p>
                    <a class="btn btn-primary" (click)="removeButtonClick()">Remove a Class</a>
                </div>
            </div>
        </div>
    </div>
</div>