<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <app-add-class  *ngIf="showAddCard" (added)="addButtonClick()"></app-add-class>
            <app-remove-class *ngIf="showRemoveCard" (remove)="removeButtonClick()"></app-remove-class>
            <app-list-classes *ngIf="showListClasses"></app-list-classes>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Choose an action
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" (click)="addButtonClick()">Add a Class</a>
                    <p></p>
                    <a class="btn btn-primary" (click)="removeButtonClick()">Remove a Class</a>
                    <p></p>
                    <a class="btn btn-primary" (click)="listAllButtonClick()">List all Classes</a>
                </div>
            </div>
        </div>
    </div>
</div>