<p>Here we will add (or remove) a member to (from) a class</p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" *ngFor="let head of headers">{{ head }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of classesOnDay">
                <td>{{ c.ClassInformation.Name }}</td>
                <td>{{ c.ClassInformation.Description }}</td>
                <td>{{ c.StartTime }}</td>
                <td>{{ c.EndTime }}</td>
                <td>{{ c.ClassInstanceId }}</td>
              </tr>
              <tr>
                <!--this is example data-->
                <td>Power</td>
                <td>Explosive weight lifting</td>
                <td>Date object plus 5:00:00</td>
                <td>Date oject plus 6:00:00</td>
                <td>ID Num 123123123</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <p>Click a button to display the day you wish to see:</p>
          <button type="button" class="btn btn-primary" (click)="updateTable('1')">
            Monday</button>
          <button type="button" class="btn btn-primary" (click)="updateTable('2')">
            Tuesday</button>
          <button type="button" class="btn btn-primary" (click)="updateTable('3')">
            Wednesday</button>
          <button type="button" class="btn btn-primary" (click)="updateTable('4')">
            Thursday</button>
          <button type="button" class="btn btn-primary" (click)="updateTable('5')">
            Friday</button>
        </div>
      </div>
      <!-- <app-list-classes></app-list-classes> -->
    </div>

    <div class="col-4">


      <div class="card">
        <div class="card-body">
          <p>Enter IDs to Sign up</p>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Mem:</span>
            <input type="text" class="form-control" placeholder="Member ID: " aria-describedby="basic-addon1" #mem_ID>
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Class: </span>
            <input type="text" class="form-control"  placeholder="Class ID: " aria-describedby="basic-addon2" #gc_ID>
          </div>


          <button type="button" class="btn btn-primary" (click)="signUp(mem_ID.value, gc_ID.value)">
            Sign Up</button>
        </div>
      </div>


      
    </div>

  </div>