<p>Here we will add (or remove) a member to (from) a class</p>
<div class="container">
    <div class="row">
      <div class="col-8">
        This should be a daily or weekly schedule<br>
        Also this will probably be the hardest part that I have<br>
        I don't think that this table will be good, there must be some plugin or something out there that
        can do this in a much easier way?
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-4">
        Options to add to selection?<br>
        Should maybe be a drop down for date, then class/time, then enter the member name
      </div>
    </div>
</div>