<div class="card">
    <div class="card-header">
        Enter Class to Remove
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID: </span>
            <input type="text" class="form-control" placeholder="ID Number" aria-label="ClassIDRem"
                aria-describedby="basic-addon1" #classToRemove>
        </div>
        <a class="btn btn-danger" type="submit" (click)="removeClass(classToRemove.value)">Remove Class</a>
    </div>
</div>
