<p>membership-editor works! edit for membership </p>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <app-add-membership *ngIf="showAddCard" (added)="addButtonClick()"></app-add-membership>
            <app-remove-membership  *ngIf="showRemoveCard" (remove)="removeButtonClick()"></app-remove-membership>
            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Current List of Membership Types
                </div>
                <div class="card-body">
                    This might be easier to do with a *ngFor list but I like this look<br>
                    Also, should make this list into its own component I think.
                    <table class="table">
                        <thead >
                          <tr>
                            <th *ngFor = "let column of headers">{{ column }}</th>
                          </tr>  
                        </thead>
                        <tbody>
                            <tr *ngFor = "let ml of membershipTypes">
                                <td>{{ ml.Name }}</td>
                                <td>{{ ml.Price }}</td>
                                <td>{{ ml.UniqueID }}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Choose an action
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" (click)="addButtonClick()">Add a Membership</a>
                    <p></p>
                    <a class="btn btn-primary" (click)="removeButtonClick()">Remove a Membership</a>
                </div>
            </div>
        </div>
    </div>
</div>