<p>gymclass-editor works!</p>
<p>This is going to be to create gym class since we have no spot for it </p> 
<p>Need to get course (display list),
    <br> need to get date and start, end time
</p>


<div class="container">
    <div class="row">
      <div class="col-8">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Course ID:</span>
            <input type="text" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon1">
          </div>
          <p>choose a date and time: </p>

      </div>
      <div class="col-4">
        <!-- <app-list-classes></app-list-classes> -->
        <h3>List of All Classes</h3>
        <ul class="list-group" *ngFor="let course of courses">
            <li class="list-group-item"><strong>ID:</strong> {{ course.CourseID }}<br>
              <strong>Name:</strong> {{ course.Name }}<br>
              <strong>Description:</strong> {{ course.Description }} </li>  
        </ul>
      </div>
    </div>
  </div>