<div>
    <h1>Routing</h1>
</div>
<nav>
    <a routerLink="/class-editor">Class Editor</a>
    <a routerLink="/class-registration">Class Registration</a>
    <a routerLink="/member-check-in">Member Check In</a>
    <a routerLink="/member-registration">Member Registration</a>
    <a routerLink="/membership-editor">Membership Editor</a>
    <a routerLink="/metrics">Metrics</a>
    <a routerLink="/time-clock">Time Clock</a>
    <a routerLink="/time-clock-audit">Time Clock Audit</a>
</nav>

<router-outlet></router-outlet>